html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.shop-layout {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #FFF;
	margin-left: 150px;
	margin-right: 150px;
}

.content-information {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "shopping-cart"
	                     "item-view";
	height: auto;
}

.shopping-cart {
	grid-area: shopping-cart;
	margin: auto;
	padding-top: 20px;
}

.shopping-cart p {
	font-size: 30px;
	align-text: center;
}

.fa-shopping-cart {
	padding-right: 20px;
	height: 10%;
}

.shopping-catalog {
	height: 50%;
	background-color: #FFF;
}

.shirt-gallery {
	list-style-type: none;
	overflow: auto;
	padding: 40px;
}

.shirt-gallery li {
	display: block;
	padding-left: 80px;
	float: left;
}

.shirt-gallery li img {
	height: 250px;
	width: auto;
	border: 1px solid black;
}

