.wil-serv {
	background-image: url("../img/service-land.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 700px;
	margin: 0 50px;
}

.services-contact {
	background-image: url("../img/service-land.jpg");
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 50px;
}

#serv-text {
	font-size: 15px;
	padding: 15px;
	margin: 20px;
}

.service-shop-info {
	background-color: black;
	height: 20%;
	margin: 0px 50px 0px 50px;
}

.contact-info p {
	margin: 0px;
	color: white;
	position: relative;
	bottom: 0px;
}

#left {
	position: relative;
	bottom: -20px;
	left: 450px;
}

#right {
	position: relative;
	bottom: 40px;
	left: 750px;
}

#contact {
	margin: 0px;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 50px;
}

form {
	padding-top: 85px;
	width: 40%;
	margin: auto;
}

.services-contact form {
	width: 800px;
	margin: auto;
}

.container {
	padding: 10px;
	background-color: #f1f1f1;
}

.container h1 {
	text-align: center;
}

.container > p {
	padding: 0 20px;
	font-size: 18px;
}

#container-head {
	text-align: center;
	font-size: 24px;
}


input[type=text], textarea, input[type=submit] {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

textarea::-webkit-input-placeholder {
	font-style: italic;
	font-size: 14px;
}

input[type=submit] {
	background-color: #4d94ff;
	color: black;
	border: 1.5px solid black;
	font-size: 24px;
}

input[type=text], textarea {
	font-size: 18px;
}

input[type=submit]:hover {
	opacity: 0.8;
}