{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="wil-serv">
	<div class="container">
		<h1>Services</h1>
		<p>808Prints have its own online store with default items that are branded by us. We also accept
		online orders from your requests, for more specifics you can email us and follow up with more details. We use Square for 
		our online transactions.
		</p>
		<p><b>Pricing:</b> $25 per T-shirt.</p>
	</div>
</div>

<div class="services-contact">
	<form method="post">
	{% csrf_token %}
		<div class="container">
			<h1>Contact us for a <i>FREE QUOTE!</i></h1>
			<p style="font-size:20px;">If you have any questions or concerns, send an email to me!</p>
		</div>
		
		<div class="container" style="background-color:white">
			{{ form }}
		</div>
		
		<div class="container">
			<input type="submit" value="Send">
		</div>
	</form>
</div>
{% endblock %}