{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="services-screenprinting">
	<div class="print-container">
		<p class='print-title'>Services</p>
		<img class="print-image" src='{% static "img/service-fotoe.jpg" %}'/>
		<p class='print-text'>We offer full <b>premium screen printing services</b> specializing in plastisol and Soft-hand plastisol ink.  
		We have a full range of garments to select, from t-shirts, sweaters, hoodies, sweatpants, shorts, tote bags, 
		etc. Bring your vision to life! <br/>808Prints have high customer service, fast turnaround time and competitive pricing. 
		<br/> Your FAST & QUICK quote is a few clicks away. <br/> <b>ADDITIONAL SERVICES:</b> <br/>
		Screen Printed Neck Labels<br/> Custom Artwork <br/> Sewn Tags and Labels <br/> Fold and Bag
		<br/>
		Please send as much information as possible so we can help you start your project quickly and 
		efficiently or you can download our <b>Work Order Form</b> and send it to : <u>info@808prints.com</u>
		<br/>
		<a class="pdf-form"href="https://s3.amazonaws.com/sdev-static/static/pdf/WORK+ORDER+FORM.pdf">808 PDF Work Order Form</a> 
		</p>
		
	</div>
</div>

<div class="services-qoute" id="serv-qoute">
	<form class="qoute-form" method="post">
	{% csrf_token %}
		<div class="container">
			<h1>Contact us for a quick, free quote</h1>
			<p id='qoute-text'>Please send as much information as possible so we can help you start your project quickly and efficiently 
			or you can download our Work Order form and send it to: info@808prints.com
			</p>
		</div>
		
		<div class="container" >
			{{ form }}
		</div>
		
		<div class="container">
			<input type="submit" value="Send">
		</div>
	</form>
</div>


<div class="service-shop-info" id="contact-info">
	<div class="contact-info">
		<p class='contact-header'>CONTACT</p>
		
		<ul class="contact-items">
			<li class="left"><u><b>808Prints</b></u><br/>
		info@808prints.com<br/>2061 West 4th Street<br/>Brooklyn, NY 11223<br/><br/>
			</li>
			<li class="right">In-Shop: BY APPOINTMENTS ONLY
			</li>
		</ul>
		
	</div>
</div>

<script type="text/javascript">
$("html, body").hide();

$(document).ready(function(e) {
	location.hash = window.name;
	var target = location.hash;
	
	if (target == "#serv-you"){
		setTimeout(function() {
			$("html, body").scrollTop(0).show();
			$("html, body").animate({
				scrollTop: 0
				}, 1000);
			}, 0);
	} else if (target){
		setTimeout(function() {
			$("html, body").scrollTop(0).show();
			$("html, body").animate({
				scrollTop: $(target).offset().top
				}, 1000);
			}, 0);
	}else {
		$("html, body").show();
	}
});	

<!-- gallery scroll -->
	$("#project").click(function(){
		window.name = "gallery";
	});
	
	<!-- landing logo scroll -->
	$("#landing").click(function(){
		window.name = "landing-logo";
	});
	
	<!-- screen printing scroll -->
	$("#serv").click(function(e){
		$("html, body").animate({
			scrollTop: 0 
			}, 1000);
		e.preventDefault();
	});
	
	<!-- qoute scroll -->
	$("#qoute").click(function(e){
		$("html, body").animate({
			scrollTop: $("#serv-qoute").offset().top
			}, 1000);
		e.preventDefault();
	});
	
	<!-- contact information scroll -->
	$("#contacts").click(function(e){
		$("html, body").animate({
			scrollTop: $("#contact-info").offset().top
			}, 1000);
		e.preventDefault();
	});
</script>

{% endblock %}