{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="cart-container">
	<p> testing testing </p>
		{% for item in cart %}
				<span>
					<img src={{ item.photo_url.url }}>
				</span>
				<span>
					{{ item.product.title }}
				</span>
				<span>
					<form action="{% url 'add' product_id=item.product.id %}" method='post'>
						{% csrf_token %}
						{{ item.update_quantity_form.quantity }}
						{{ item.update_quantity_form.size }}
						{{ item.update_quantity_form.update }}
						<input type="submit" value="Update">
					</form>
				</span>
				<span>
					<a href="{% url 'remove' item.product.id %}">Remove</a>
				</span>
				<span>
					$$ {{ item.total_price }}
				</span>
				<span>
					xx {{ item.quantity }}
				</span>
				<span>
					{{ item.size }}
				</spam>
				<hr>
		{% endfor %}
		
	<div style="float: right;">
		<a href="{% url 'shop' %}"><input type="button" value="Back to shop"></a>
		<a href=""><input type="button" value="Checkout"></a>
	</div>		
</div>
{% endblock %}