{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="cart-layout">
	<div class="cart-container">
		{% for items in cart %}
			<hr>
			<ul class="cart-header">
				<li>Image:</li>
				<li>Item Name:</li>
				<li>Size:</li>
				<li>Quantity</li>
				<li>Price per Shirt:</li>
				<li>Total:</li>
			</ul>
			<ul class="cart-body">
				<li><img src={{ items.photo_url.url }}></li>
				<li>{{ items.title }}</li>
				<li>{{ items.size }}</li>
				<li>{{ items.count }}</li>
				<li>{{ items.price }}</li>
				<li>{{ items.get_total_prices }}</li>
			<hr>
		{% endfor %}
	</div>
</div>
{% endblock %}