html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

* {
	font-family: 'Georgia', sans-serif;
}

#WHITE-BACKGROUND,
.header-container, .footer-container,
.white-background {
	background-color: #FFFFFF;
}

.grid-container {
	display: grid;
	height: 100%;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "menu"
						 "content";
}

.header-container {
	grid-area: menu;
	position: fixed;
	height: 100px;
	width: 100%;
	z-index: 1;
	box-shadow: 0 0.1px 10px grey;
}

.footer-container {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 60px;
	z-index: 1;
}

.footer-nav {
	list-style-type: none;
	text-align: right;
	margin: 10px 55px 15px 0px;
}

.footer-nav li {
	display: inline-block;
	padding: 0 5px;
	color: black;
	font-size: 35px;
}

.footer-nav li a {
	text-decoration: none;
	color: black;
}

.header-logo {
	float: left;
}

.header-logo a {
	text-decoration: none;
}

.logo {
	height: 90px;
	width: 190px;
	margin-left: 50px;
	margin-top: 5px;
}

.header-nav-menu {
	float: right;
}

.nav {
	list-style-type: none;
	padding: 10px;
}

.nav li {
	display: inline-block;
	padding: 0 20px;
	margin-right: 30px;
	margin-top: 5px;
}

.header-nav-menu > ul > li > a {
	display: inline-block;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	color: black;
}

.content-container {
	grid-area: content;
	height: 100%;
}

/* landing.html */
.landing-logo {
	height: 42%;
	background-attachment: fixed;
	background-position: no-repeat;
}

.landing-about-us {
	background-image: url("../img/new-landing.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45%;
	margin: 0px 50px 0 50px;
}

.services-newsletter {
	background-image: url("../img/land-page.jpg");
	height: 37%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 50px 0px 50px;
}

#fade-in-logo {
	padding-top: 60px;
}

#fade-in-logo img {
	display: block;
	margin: auto;
	padding-top: 50px;
}

/* about-wilson.html */
.about-wil {
	background-image: url("../img/land-page.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	margin: 0 50px;
}

.wil-text {
	position: relative;
	top: 100px;
	left: 318px;
	height: 500px;
	width: 800px;
	background-color: #FFFFFF;
	font-size: 18px;
	
}

.wil-text a {
	position: relative;
	text-decoration: none;
	bottom: 50px;
	left: 510px;
	font-size: 24px;
	font-weight: bold;
}

#about-us-title {
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	font-family: 'Georgia';
	position: inherit;
	top: 30px;
}

.about-us-text {
	margin: 20px;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
}

.wil-text img {
	float: right;
	height: 250px;
	width: 300px;
	margin: 40px;
}

.about-us {
	margin: 30px 0px 30px 30px;
	padding: 50px 0px 50px 30px;
	float: left;
	height: 550px;
	width: 400px;
}

.about-us p {
	padding: 50px 0px 0px 25px;
	font-size: 36px;
	font-weight: bold;
	color: white;
}

.work-port-container {
	margin: 30px 0px;
	float: right;
	height: 650px;
	width: 940px;
}

.gallery {
	list-style-type: none;
	padding-top: 75px;
}

.gallery li {
	display: inline-block;
	margin: 15px 15px 10px 15px;
	float: left;
	width: 170px;
}

.gallery li img {
	height: 220px;
	width: 100%;
	box-shadow: 0 1px 5px white;
}

#img-expand img {
	position: absolute;
	padding-top: 200px;
	right: 600px;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: none;
}

::-webkit-scrollbar-track {
	background: none;
}

.close:hover, .closer:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#input-img {
	display: block;
	height: 400px;
	width: auto;
	margin: auto;
}

.text {
	padding: 20px;
	font-size: 28px;
}

#g-modal, #n-modal {
	display: none;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
}

.modal-content {
	background-color: #fefefe;
	margin: 100px auto;
	padding: 20px;
	width: 60%;
}

.modal-content p {
	font-size: 18px;
	font-family: 'Georgia';
}

.hide {
	display: none;
}