{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="shop-layout">
	<div class="filler"></div>
	<div class="content-information">
		<ul class="shop-info">
		{% if cart.count is 0 %}
			<li class="text-bold">Your cart is empty!</li>
		{% else %}
			<li class="text-bold">Your total items in cart: {{cart.count}}</li>
			<li class="logo-color"><a href="{% url 'cart_items' %}">Go to Cart</a></li>
		{% endif %}
		</ul>
	</div>

	<div class="shopping-catalog">
		<ul class="shirt-gallery">
			{% for item in product %}
				<li><img class="item" src="{{ item.photo_url.url }}"/>
				<p class="item-text">{{item.title}} ${{item.price}}</p>
				<form action='{% url "add" item.id %}' method='post'>
					{% csrf_token %}
					<div class="fieldwrapper">
						{{ cart_form.quantity.label_tag }}
						{{ cart_form.quantity }}
					</div>
					<div class="fieldwrapper">
						{{ cart_form.size.label_tag }}
						{{ cart_form.size }}
					</div>
					<input type="submit" value="Add to cart">
				</form>
			    </li>
			{% endfor %}
		</ul>
	</div>
	
</div>
{% endblock %}